name: Robot_Meteo_Zilnic
on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalează modulele necesare
        run: npm install axios pdf2json

      - name: Execută extracția
        run: node extract.js

      - name: Salvează fișierul JSON
        run: |
          git config --global user.name "MeteoBot"
          git config --global user.email "bot@github.com"
          git add date_meteo.json
          git commit -m "Update JSON nivologie" || echo "Fără modificări"
          git push
